.crs-section {
  width: 100%;
  max-width: 100vw;
  margin: auto;
}

.crs-wrp {
  margin: auto;
  gap: 58px;
}

.crs-ctrl-btn {
  position: relative;
  z-index: 50;
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  transform-origin: center;
}

@keyframes btn-bounce {
  0% {
    scale: 1;
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
.crs-ctrl-btn:active {
  animation: btn-bounce 200ms linear;
  background-color: rgb(192, 208, 230);
}
.crs-ctrl-btn > svg {
  fill: black;
}
.crs-ctrl--next {
  order: 1;
}

/* Wraps both the images and position placeholders */
.crs-layout-container {
  position: relative;
}

/* Semantic list of the images, contains the original images */
.crs-list {
  width: 20px;
  height: 20px;
  top: 0;
  left: 50%;
  position: absolute;
  z-index: 45;
}

.crs-img-wrp {
  position: absolute;
  transform-origin: center;
  transition-timing-function: ease;
  /* transition-duration: 320ms; */
  overflow: hidden;

  /* Slow motion */
  /* transition-duration: 2s !important;
  transition-timing-function: linear; */
}

.crs-img {
  width: 100%;
  height: 101%;
}

img {
  max-width: 100%;
  object-fit: cover;
}
img::-moz-selection {
  background-color: transparent;
  color: #000;
}
img::selection {
  background-color: transparent;
  color: #000;
}

/* Wraps all the placeholder/position rectangles */
.crs-placeholders-wrp {
  max-width: 957px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}

/* An individual rectangle placeholder */
.crs-position {
  position: relative;
  border-radius: 1px;
  flex-shrink: 0;
}

.crs-position__inner {
  border: 0.15em solid white;
  width: 100%;
  padding-bottom: 146%;
}

/* This would definately break with more than 5 slides */
/* But positioning of images would always? work regardless of how elements are positioned */
.crs-position:nth-child(1) {
  width: 10.9375em;
  margin-right: -2.375em;
}
.crs-position:nth-child(2) {
  margin-right: -2.375em;
  width: 14.5em;
}
.crs-position:nth-child(3) {
  width: 18.1875em;
}
.crs-position:nth-child(4) {
  width: 14.5em;
  margin-left: -2.375em;
}
.crs-position:nth-child(5) {
  width: 10.9375em;
  margin-left: -2.375em;
}

.crs-state-region {
  margin-top: 40px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .crs-wrp {
    gap: 30px;
  }
  .crs-placeholders-wrp {
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 850px) {
  .crs-placeholders-wrp {
    font-size: 1.5vw;
  }
  /* Change layout for mobile-ish */
  .crs-wrp {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 40px;
    column-gap: 30px;
  }
  .crs-layout-container {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .crs-ctrl--next {
    order: initial;
    justify-self: start;
  }
  .crs-ctrl--prev {
    order: initial;
    justify-self: end;
  }

  /* Welp, manually positioning the layout again */
  .crs-position:nth-child(1) {
    width: 10.9375em;
    margin-right: -8em;
  }
  .crs-position:nth-child(2) {
    margin-right: -12em;
    width: 19em;
  }
  .crs-position:nth-child(3) {
    width: 25.1em;
  }
  .crs-position:nth-child(4) {
    width: 19em;
    margin-left: -12em;
  }
  .crs-position:nth-child(5) {
    width: 10.9375em;
    margin-left: -8em;
  }
}

@media only screen and (max-width: 650px) {
  .crs-placeholders-wrp {
    font-size: 2vw;
  }
}
