* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #100d10;
  min-height: 100vh;
}

.body-inner {
  min-height: 100vh;
}

.crs-section {
  width: 100%;
  max-width: 100vw;
  margin: auto;
}

.crs-wrp {
  margin: auto;
  gap: 58px;
  /* width: fit-content; */
}

.crs-ctrl-btn {
  position: relative;
  z-index: 50;
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
}
.crs-ctrl-btn > svg {
  fill: black;
}
.crs-ctrl--next {
  order: 1;
}

/* Wraps both the images and position placeholders */
.crs-layout-container {
  position: relative;
}

/* Semantic list of the images, contains the original images */
.crs-list {
  width: 20px;
  height: 20px;
  top: 0;
  left: 50%;
  position: absolute;
  z-index: 45;
}

.crs-img-wrp {
  position: absolute;
  transform-origin: center;
  transition-timing-function: ease-out;
  transition-duration: 450ms;
  overflow: hidden;

  /* Slow motion */
  /* transition-duration: 2s;
  transition-timing-function: linear; */

}

.crs-img {
  width: 100%;
  height: 101%;
}

img {
  max-width: 100%;
  object-fit: cover;
}
img::-moz-selection {
  background-color: transparent;
  color: #000;
}
img::selection {
  background-color: transparent;
  color: #000;
}

/* Wraps all the placeholder/position rectangles */
.crs-place-holders-wrp {
  max-width: 957px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}

/* An individual rectangle placeholder */
.crs-position {
  position: relative;
  border-radius: 1px;
  flex-shrink: 0;
}

.crs-position__inner {
  border: 0.125em solid white;
  width: 100%;
  padding-bottom: 146%;
}

/* This would definately break with more than 5 slides */
/* But positioning of images would always? work regardless of how elements are positioned */
.crs-position:nth-child(1) {
  width: 10.9375em;
  margin-right: -2.375em;
}
.crs-position:nth-child(2) {
  margin-right: -2.375em;
  width: 14.5em;
}
.crs-position:nth-child(3) {
  width: 18.1875em;
}
.crs-position:nth-child(4) {
  width: 14.5em;
  margin-left: -2.375em;
}
.crs-position:nth-child(5) {
  width: 10.9375em;
  margin-left: -2.375em;
}
